* {
	margin: 0;
}

.homeMain {
	position: absolute;
	left: 50rem;
	top: 10rem;
}
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}
.conditionbox {
	text-align: center;
}

.item {
	background-color: #ffffff;
	box-shadow: 1px 1px 2px rgba(228, 228, 228, 0.7),
		-1px -1px 2px rgba(214, 214, 214, 0.4);
	border-radius: 25px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	position: relative;
	top: 5rem;
	left: 35rem;
	width: 50rem;
}

.item .inner-box {
	background-color: #ffffff;
	box-shadow: inset 1px 1px 2px #d8d8d8,
		inset -1px -1px 1px rgba(218, 218, 218, 0.4);
	border-radius: 25px;
	padding-left: 3.5px;
	padding-right: 3.5px;
	padding-top: 3.5px;
	color: #000;
}
