* {
	margin: 0;
}

.homeMain {
	position: absolute;
	left: 50rem;
	top: 10rem;
}
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	background-color: #f0f0f3;
}
.conditionbox {
	background: #f0f0f3;
	box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
	width: 30rem;
	margin: auto;
	padding: 1rem;
	border-radius: 15px;
}
.item {
	background: #f0f0f3;
	box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
	border-radius: 25px;
	padding: 1rem;
	position: relative;
	top: 5rem;
	left: 35rem;
	width: 40rem;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

.switch {
	margin: 1rem;
}
